html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

h2, h3, ul {
  margin: 5px;
}

.ch-scrollycoding-content {
  flex: 3 1;
}

.ch-scrollycoding-step-content {
  min-height: 0px;
  padding: 0.5rem 0.5rem;
  border: 1.5px solid #e3e3e3;
}

.ch-scrollycoding-sticker {
  flex: 10 5;
}

code > div > div {
  overflow: auto !important;
}

@import "~@code-hike/mdx/dist/index.css";